* {
  box-sizing: border-box;
}

html {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  background-color: #faf9f9;
}